<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>-->
  <appSettings>
    <add key="TargetAppName" value="Nacollector" />
    <add key="TargetAppProcessName" value="Nacollector" />
    <add key="TargetAppRootPath" value="/" />
    <add key="DownloadProxy" value="127.0.0.1:1080" />
    
    <add key="LauchAppFileName" value="cmd.exe" />
    <add key="LauchAppFileArgs" value="/C copy /b Nacollector.exe Nacollector.exe.backup" />
    
    <add key="DownloadingText" value="正在下载 {SrcDownloadFile} {SrcDownloadLocalFile}..." /> <!--  {SrcDownloadFile}|{SrcDownloadLocalFile}|{SrcDownloadUrl} -->
    <add key="ExtractingText" value="正在解压 {EntryFileName} {EntryFileSize}..." /> <!-- {ArchiveFileName}|{EntryFileName}|{EntryFileSize} -->
    <add key="LauchErrorText" value="{ExceptionMessage} 程序无法启动，请尝试重装" /> <!-- {ExceptionMessage} --> 
    
    <add key="NoArgsLauchFile" value="https://github.com/Zneiat/Naupdater" />
    <add key="NoArgsLauchFileArgs" value="" />
    <add key="NoArgsMsgText" value="请指定启动参数" />
  </appSettings>
</configuration>